* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
} 

nav {
  display: flex;
  background-color: white;
  justify-content: flex-end;
}

nav a {
  color: var(--black);
  padding: 14px 20px;
  text-align: center;
}

nav a:hover {
  background-color: #355e3b ;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section > div {
  display: flex;
}

#about img {
  margin: 0 16px 16px 0;
  max-width: 300px;
  width: 253px;
  height: 253px;
}

#work > div {
  flex-wrap: wrap;
}

#work article:first-of-type {
  width: 100%;
}
  